/* static/css/styles.css */
body {
    align-items: center;
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    /*background-color: #faf0e6;*/
    background-color: white;
    font-family: 'Georgia', serif;
}

h1 {
    color: #333;
    font-size: 48px;
    text-align: center;
    margin: 20px 0 2px 0;
    font-family: "Amatic SC"
}
h3 {
    margin: 0px;
    color: #333;
    text-align: center;
    font-size: 12px;
}

form{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 30px 0 0 0;
}

.form-group{
}

select{
    margin: 2px;
    height: 30px;
    border-radius: 12px;
    text-align: center;
}

/*
.verse-select{
    margin: 2px;
    border-radius: 12px;
    background-color: #faf0e6;
}*/

.card-continer{
    display:flex;
    justify-content: center;
    align-items: center;
}

/* Styling the card */
.card {
    flex-direction: column;
    padding: 30px;
    margin: 50px;
    width: 80%;
    max-width: 600px;
}

/* Styling the verse text */
span {
    color: black;
    font-size: 1.5em;
    line-height: 1.6;
    /* background-image: linear-gradient(35deg,indigo,violet);
    background-clip: text;
    color: transparent; */
}

.highlight {
     box-decoration-break: clone;
     border-radius: 7px;
     background-image: linear-gradient(35deg, rgba(18, 194, 233, 0.3), rgba(196, 113, 237, 0.3),rgba(246, 79, 89, 0.3));
     padding:  2px 7px 2px 7px;
}

.address{
    margin: 0px;
    font-size: 1.2em;
    text-align: right;
    padding-right: 10px;
}

.btm-btn-container{
    margin: auto;
    display: flex;
    margin-top: auto;
    margin-bottom: 30px;
    width: 100%;
    max-width: 400px;
    height: 100px;
    align-items: center;
    justify-content: space-evenly;
}

.color-btn1{
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: linear-gradient(35deg, rgba(18, 194, 233, 0.3), rgba(196, 113, 237, 0.3),rgba(246, 79, 89, 0.3));
}

.color-btn2{
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: linear-gradient(35deg, rgba(0, 201, 255, 0.3), rgba(146, 254, 157, 0.3));
}

.color-btn3{
    position: relative;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    background: linear-gradient(35deg, rgba(198, 255, 221, 0.3), rgba(251, 215, 134, 0.3),rgba(247, 121, 125, 0.3));
}
